.map{
    height: 500px;
    width: 1000px;
}
.myTable{
    padding-top: 5px;
    margin: auto;
    width: 60%;
    text-align: center;
}
th{
    text-align: center;
}
td{
    vertical-align: middle !important;
}