.map{
    height: 500px;
    width: 1000px;
}
.myTable{
    padding-top: 5px;
    margin: auto;
    width: 60%;
    text-align: center;
}
th{
    text-align: center;
}
td{
    vertical-align: middle !important;
}
.myLine{
    opacity: 0.5;
    stroke-width: 5;
    stroke: black;
    stroke-dasharray:5, 5;
}